body {
    background-color: #f4f4f4;
    color: #3313e7;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background-color: #f30808;
    width: 300px;
    padding: 20px;
    border: 10px solid #2802ff;
    border-radius: 50px;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.descricao {
    font-size: 14px;
    margin-bottom: 15px;
}

.habilidades,
.caracteristicas {
    margin-bottom: 10px;
}

.habilidades h2,
.caracteristicas h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.habilidades ul {
    margin-left: 15px;
}

.caracteristicas p {
  font-size: 14px;
}